html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
p,
a {
  margin-bottom: 40px;
  font-family: "Bebas Neue", Helvetica, Arial, Lucida, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.section-height {
  height: 550px;
  position: relative;
}

.menu .logo,
.menu .nav {
  display: inline-block;
}

.menu .nav {
  padding-top: 20px;
  max-width: 1080px;
  margin: 0 auto;
  height: 100px;
}

.menu .logo {
  height: 50px;
  margin-left: 50px;
}

.menu .logo img {
  width: auto;
  height: 100%;
}

.menu .nav li {
  display: inline-block;
  margin-left: 60px;
}

.menu .nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.menu .nav a:hover {
  color: gray;
}

.hero {
  height: 800px;
}

.hero-text {
  float: right;
  width: 60%;
  margin-top: 50px;
}

.hero-text h1 {
  font-size: 54px;
}

.hero-text p {
  font-size: 18px;
  width: 70%;
}

.button {
  font-size: 16px;
  padding: 10px;
}

.content-left {
  float: left;
  width: 50%;
}

.content-left p {
  width: 70%;
}

.content-right {
  float: right;
  width: 50%;
}

.content-center {
  text-align: center;
}

.company-logos img {
  width: 100px;
  height: auto;
  margin: 50px 50px;
}

.ebook-item {
  display: inline-block;
  margin: 50px 50px;
}

.ebook-item p {
  max-width: 200px;
  text-align: left;
}

.ebook-item img {
  max-width: 100px;
  margin: 20px 0px;
}

.email-form input {
  margin-bottom: 100px;
}

.email-form {
  width: 250px;
  margin: 0 auto;
}

.email-form label {
  font-size: 18px;
  float: left;
  margin-left: 5px;
}

.email-form input[type="text"] {
  height: 20px;
  width: 180px;
}
